body {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

/* =========================Backgrounds=================== */


/* =========================Backgrounds=================== */
.footer,
.btn {
    background-color: #198754;
    color: white;
}

.btn:hover {
    background-color: orangered;
    color: white;
}

table .league-table-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ffffff;
}

.table tr {
    text-align: center;
}

.table tr:hover {
    background-color: #dedede;
}

.results,
.fixtures {
    background-color: white;
    /* box-shadow: 1px 2px 3px 4px rgba(10, 10, 10, 0.1); */
}

.result-fixture .card-body {
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 2px 3px 4px rgba(10, 10, 10, 0.1);
    margin: 10px 10px 10px 10px;
}

.news-title {
    color: #012970;
    text-decoration: underline;
}

.carousel-inner img {
    height: 600px;
}

.marquee {
    margin-left: 15%;
    margin-right: 15%;
}

.img-logo {
    border-radius: 50%;
}



/* ============from dyewhi256=============== */
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/


.accordion-header .accordion-button {
    font-family: "Times New Roman";
    color: green;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Fixtures & Results~~~~~~~~~~~~~~~~~~~ */
.accordion-header .accordion-button .active-wk {
    color: #ff4a17;
}

.accordion-item .accordion-body .card-body .fix-team-img {
    height: 40px;
    width: 40px;
}

.accordion-item .accordion-body .card-body .team-text {
    color: #113a0c;
    font-size: 20px;
}

.accordion-item .accordion-body .card-body .fixt-btn {
    background: transparent;
    color: grey;
}

.la-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/teams-page-bg.jpg);
    height: 30vh;
    background-attachment: fixed;
}

.la-container-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/teams-page-bg.jpg);
    height: 40vh;
    background-attachment: fixed;
}

.la-container-about-teams {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/teams-page-bg.jpg);
    background-attachment: fixed;
}

.la-container-single-team {
    /* background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8), rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/wallpaperbulembia.png); */
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    padding-top: 60px;

    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
}

.la-container-news {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/teams-page-bg.jpg);
    height: 43vh;
    background-attachment: fixed;
}


/* @media only screen and (min-width: 600px) {
        .la-container-single-team{
        background-size: 100% 50%;  
        background-repeat: no-repeat;
        }
            } */

#la-container-table, #la-container-topscorers, #la-container-players {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/teams-page-bg.jpg);
    height: 40vh;
    background-attachment: fixed;
}





.headin {
    /* background-image: url(../img/hero2.jpg); */
    height: 300px;
}

.about-right-heading {
    font-size: 50px;
    font-weight: bolder;
}

.about-details {
    font-size: larger;
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-teams img {
    height: 100px;
}


/* single team */


#team-budge-img {
    height: 400px;
    width: 400px;
    padding: 20px;
    /* color: #ffffff; */
}

.socail_links li {
    text-decoration: none;
    list-style: none;
    margin: 10px;
}

.socail_links li a {
    height: 20px;
    width: 20px;
}

.footer h2 {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 50px;
}

.footer p,
a {
    font-size: 20px;
    color: white;
}

.footer a:hover {
    font-size: 20px;
    color: rgb(255, 0, 43);
}

.footer .footer_widget {
    margin-top: 20px;
}

.footer .newsletter_form input {
    /* border: 2px solid #ff4a17; */
    border-radius: 5px;
    height: 40px;
    width: 50%;
}

.footer .newsletter_form button {
    margin: 20px 0 20px 0;
    /* background-color: red; */
    border-radius: 5px;
    height: 40px;
}

.footer .social_media_icons {
    margin-top: 100px;
}

.footer .imprtant-links {
    text-decoration: none;
    list-style: none;
}


/* ======================= Team css ===================*/
.la-container-team {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/teams-page-bg.jpg);
    height: 50vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.card.teamcard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.teamcard {
    background-color: rgb(228, 228, 228);
}

.cardheader img {
    height: 200px;
    width: 100%;
}

.card.teamcard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;

}

.card.teamcard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 150px;
    max-height: 150px;
    background-color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.teamcard .info {
    padding: 4px 8px 10px;
}

/* ====================== Swiper ==================== */
.swiper-navBtn {
    color: black;
    transition: color 0.3 ease;
    font-size: 10px;
}

.swiper-navBtn:hover {
    color: #012970;
    font-size: 10px;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 10px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: rgb(255, 255, 255);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #012970;
}

/* ============================sponsor============= */
.sponsors .sponsor-item a {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sponsors .sponsor-item a h2 {
    font-size: 20px;
    font-weight: bolder;
}


.btn:hover {
    background-color: rgb(8, 52, 8);
    color: white;
}

table .league-table-img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #ffffff;
}

.table tr {
    text-align: center;
}

.table tr:hover {
    background-color: #dedede;
}

.results,
.fixtures {
    background-color: white;
    /* box-shadow: 1px 2px 3px 4px rgba(10, 10, 10, 0.1); */
}

.result-fixture .card-body {
    background-color: white;
    border-radius: 7px;
    box-shadow: 1px 2px 3px 4px rgba(10, 10, 10, 0.1);
    margin: 10px 10px 10px 10px;
}

.news-title {
    color: #012970;
    text-decoration: underline;
}

.carousel-inner img {
    height: 600px;
}

.marquee {
    margin-left: 15%;
    margin-right: 15%;
}

.img-logo {
    border-radius: 50%;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Fixtures & Results~~~~~~~~~~~~~~~~~~~ */
.accordion-header .accordion-button .active-wk {
    color: #ff4a17;
}

.accordion-item .accordion-body .card-body .fix-team-img {
    height: 40px;
    width: 40px;
}

.accordion-item .accordion-body .card-body .team-text {
    color: #113a0c;
    font-size: 20px;
}

.accordion-item .accordion-body .card-body .fixt-btn {
    background: transparent;
    color: grey;
}

.teamcard .cardheader .team-wallpaper {
    height: 250px;
}


@media (max-width: 991px) {
    .la-container-table h2 {
        font-size: 40px;
    }

    .la-container-players h2 {
        font-size: 40px;
    }

    .hero .carousel .carousel-item img {
        height: min-content;
    }

    /* Featured players */

    .table-posts .featured-players img {
        height: 600px;
    }

}



/* ========================================== */
/* About */
.heading-text-about {
    font-size: 70px;
    margin-top: 70px;
}

.heading-text-labout {
    font-size: 50px;
    margin-top: 70px;
}

.la-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/teams-page-bg.jpg);
    height: 30vh;
    background-attachment: fixed;
}

.la-container-about {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/teams-page-bg.jpg);
    height: 40vh;
    background-attachment: fixed;
}

.la-container-single-team {
    /* background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8), rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/wallpaperbulembia.png); */
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    padding-top: 60px;

    background-size: 100% 100%;
    /* background-repeat: no-repeat; */
}

.la-container-news {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/teams-page-bg.jpg);
    height: 40vh;
    background-attachment: fixed;
}


/* .la-container-table {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/teams-page-bg.jpg);
    height: 50vh;
    background-attachment: fixed;
    padding-top: 60px;
} */

/* #la-container-topscorers{
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/teams-page-bg.jpg);
        height: 40vh;
        background-attachment: fixed;
} */

#la-container-executive {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/teams-page-bg.jpg);
    height: 50vh;
    background-attachment: fixed;
}


/* ~~~~~~~~~~~~~~~~~~~ TABLE ~~~~~~~~~~~~~~~~~~~~~~~ */

#kltable {
    background-color: #ffffff;
}

#kltable .tbl-team-img {
    height: 60px;
    width: 60px;
    margin: 0px 10px;
    border-radius: 50%;
}

#kltable tr th {
    font-size: 18px;
}

#kltable .tbl-pts,
.tbl-position,
td {
    font-size: 20px;
    color: black;
}

#kltable .tbl-club-name {
    font-size: 20px;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~ FIXTURES & RESULTS ~~~~~~~~~~~~~~~~~ */
/* #accordionFixtures,
#accordionResults .fixres-title {
    font-size: 16px;
} */

.accordion-item .accordion-body .fix-team-img {
    height: 50px;
    width: 50px;
    margin: 0px 10px;
}

.accordion-item .accordion-body .team-text {
    font-size: 20px;
}

.accordion-item .accordion-body .fixt-btn {
    background: transparent;
    color: grey;
    font-size: 13px;
    font-weight: bolder;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~PLAYERS~~~~~~~~~~~~~~~~~~ */


.players .table-players .player-img {
    height: 50px;
    width: 50px;
}

.players .table-players .player-name {
    font-size: 15px;
    margin-left: 10px;
    text-align: start;
}

.players .table-players thead th {
    font-size: 25px;
}

.featured-players .featured-player-img {
    height: 300px;
}

/* ~~~~~~~~~~~ Home page fixtures & results ~~~~~~~~~~~~~~ */
.card-title-fixtures,
.card-title-results {
    background-color: black;
}

#home-page-fixres .result-fixture .fix-team-img {
    height: 50px;
    width: 50px;
}

#home-page-fixres .result-fixture .team-text {
    font-size: 18px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #000000;
    transition: all 0.4s;
}

.back-to-top i {
    /* font-size: 24px; */
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #ffffff;
    color: #000000;
}

.back-to-top i:hover {
    color: #000000;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


/* ---------------------------------------------------------------------------------------- */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~GALLERY~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* ---------------------------------------------------------------------------------------- */
.gallery .gallery-item {
    margin-bottom: 30px;
}

.gallery #gallery-flters {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
}

.gallery #gallery-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    border: 1px solid black;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
}

.gallery #gallery-flters li:hover,
.gallery #gallery-flters li.filter-active {
    color: #fff;
    background: #198754;
}

.gallery .btn-sm {
    background-color: #ff4a17;
}

.gallery .btn-sm:hover {
    background-color: #198754;
}

.gallery #gallery-flters li:last-child {
    margin-right: 0;
}

.gallery .gallery-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(17, 17, 17, 0.6);
}

.gallery .gallery-wrap::before {
    content: "";
    background: rgba(17, 17, 17, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}

.gallery .gallery-wrap img {
    transition: all ease-in-out 0.3s;
}

.gallery .gallery-wrap .gallery-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}

.gallery .gallery-wrap .gallery-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}

.gallery .gallery-wrap .gallery-info p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-style: italic;
}

.gallery .gallery-wrap .gallery-links {
    text-align: center;
    z-index: 4;
}

.gallery .gallery-wrap .gallery-links a {
    color: rgba(255, 255, 255, 0.4);
    margin: 0 5px 0 0;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}

.gallery .gallery-wrap .gallery-links a:hover {
    color: #fff;
}

.gallery .gallery-wrap:hover::before {
    opacity: 1;
}

.gallery .gallery-wrap:hover img {
    transform: scale(1.2);
}

.gallery .gallery-wrap:hover .gallery-info {
    opacity: 1;
}


/*--------------------------------------------------------------
# executive-team
--------------------------------------------------------------*/

/* .executive-team .executive-team-item {

} */

#executive-team .la-container-exe-team img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 6px solid #fff;

}

#executive-team .la-container-exe-team .president-img {
    width: 150px;
    height: 150px;
}

#executive-team .la-container-exe-team i {
    color: grey;
}

#executive-team .la-container-exe-team i:hover {
    color: rgb(0, 208, 255);
}

.executive-team .executive-team-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 25px 0 5px 0;
    color: #111;
}

.executive-team .executive-team-item h4 {
    font-size: 15px;
    color: #999;
    margin: 0;
}

/* .executive-team .executive-team-item p {
    font-style: italic;
    margin: 30px auto 15px auto;
} */





































/* table text color */
.kltable table {
    /* font-size: 17px; */
    text-align: left;
}

.kltable .tbl-team-img {
    height: 40px;
    width: 40px;
}

/* table text color */
.kltable table {
    /* font-size: 17px; */
    text-align: left;
}





.headin {
    /* background-image: url(../img/hero2.jpg); */
    height: 300px;
}

.about-right-heading {
    font-size: 50px;
    font-weight: bolder;
}

.about-details {
    font-size: larger;
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-teams img {
    height: 100px;
}


/* single team */


#team-budge-img {
    height: 400px;
    width: 400px;
    padding: 20px;
    /* color: #ffffff; */
}

.socail_links li {
    text-decoration: none;
    list-style: none;
    margin: 10px;
}

.socail_links li a {
    height: 20px;
    width: 20px;
}

.footer h2 {
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 50px;
}

.footer p,
a {
    font-size: 20px;
    color: white;
}

.footer a:hover {
    font-size: 20px;
    color: rgb(255, 0, 43);
}

.footer .footer_widget {
    margin-top: 20px;
}

.footer .newsletter_form input {
    /* border: 2px solid #ff4a17; */
    border-radius: 5px;
    height: 40px;
    width: 50%;
}

.footer .newsletter_form button {
    margin: 20px 0 20px 0;
    /* background-color: red; */
    border-radius: 5px;
    height: 40px;
}

.footer .social_media_icons {
    margin-top: 100px;
}

.footer .imprtant-links {
    text-decoration: none;
    list-style: none;
}


/* ======================= Team css ===================*/
.la-container-team {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/teams-page-bg.jpg);
    height: 40vh;
    background-attachment: fixed;
}

.la-container-team .heading-text-teams {
    font-size: 50px;
}

.card.teamcard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.teamcard {
    background-color: rgb(228, 228, 228);
}

.cardheader img {
    height: 30px;
    width: 100%;
}

.card.teamcard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;

}

.card.teamcard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 150px;
    max-height: 150px;
    background-color: white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.card.teamcard .info {
    padding: 4px 8px 10px;
}

/* ====================== Swiper ==================== */
.swiper-navBtn {
    color: black;
    transition: color 0.3 ease;
    font-size: 10px;
}

.swiper-navBtn:hover {
    color: #012970;
    font-size: 10px;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 10px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: rgb(255, 255, 255);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #012970;
}

/* ============================sponsor============= */
.sponsors .sponsor-item a {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sponsors .sponsor-item a h2 {
    font-size: 20px;
    font-weight: bolder;
}






/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* -------------------------------------------New mobile Nav--------------------------------- */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/





/* ------------------------------------------------------------------------------------ */
/* |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MOBILE DEV TABLETS~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~| */
/* -------------------------------------------------------------------------------------*/
@media (max-width: 800px) {

    .players .table-players .player-img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
    }

    .players .table-players .player-name {
        font-size: 20px;
        margin-left: 10px;
        text-align: start;
    }

    .players .table-players thead th {
        font-size: 25px;
        padding-left: 10px;
    }


    #home-page-fixres .result-fixture .fix-team-img {
        height: 45px;
        width: 45px;
    }

    #home-page-fixres .result-fixture .team-text {
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    #kltable tr th {
        font-size: 17px;
        color: black;
    }

    #kltable .ktl-pts,
    .ktl-position {
        font-size: 13px;
    }

    #kltable .tbl-team-img {
        height: 35px;
        width: 35px;
        margin: 0px 5px;
        border-radius: 50%;
    }

    #kltable .tbl-club-name {
        font-size: 13px;
    }

    /* Freezing the header and first cilumn */
    .tbl-wrapper {
        /* height: calc(100vh - 150px); */
        width: calc(100vw - 40px);
        overflow: scroll;
        white-space: nowrap;
    }

    .tbl-wrapper th {
        border-left: none;
        /* border-right: 1px solid #bbbbbb; */
        min-width: 40px;
        position: sticky;
        top: 0;
        /* background: rgb(5, 72, 5); */
        color: #e0e0e0;
    }

    .tbl-wrapper th:nth-child(1),
    .tbl-wrapper td:nth-child(1) {
        position: sticky;
        left: 0;
        width: 120px;
        min-width: 120px;
    }

    .tbl-wrapper td:nth-child(1) {
        background: #ffffff;
    }

    .tbl-wrapper th:nth-child(1) {
        z-index: 1;
    }

    /* ~~~~~~~~~~~~~~~~~~~~ Fixtures & Results ~~~~~~~~~~~~~~~~~~~~~~~~ */
    #accordionFixtures,
    #accordionResults .fixres-title {
        font-size: 15px;
    }

    .accordion-item .accordion-body .fix-team-img {
        height: 30px;
        width: 30px;
        margin: 0px 10px;
    }

    .accordion-item .accordion-body .team-text {
        color: #113a0c;
        font-size: 15px;
    }

    .accordion-item .accordion-body .fixt-btn {
        background: transparent;
        color: grey;
        font-size: 13px;
        font-weight: bolder;
    }



    /* ~~~~~~~~~~~~~~~~~~~~~~~~PLAYERS~~~~~~~~~~~~~~~~~~ */
    .table-posts .player-album .featured-player-img {
        height: 500px;
    }

    .players .table-players .player-img {
        height: 30px;
        width: 30px;
    }

    .players .table-players .player-name {
        font-size: 15px;
        margin-left: 5px;
        text-align: start;
    }

    .players .table-players {
        color: #dedede;
    }

    .players .table-players tr:hover {
        color: #000000;
    }

    .players .table-players thead th {
        font-size: 20px;
    }

    .featured-players .featured-player-img {
        height: 500px;
    }


    #la-container-table,
    #la-container-about,
    #la-container-news,
    #la-container-topscorers,
    #la-container-players {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/teams-page-bg.jpg);
        height: 30vh;
        background-attachment: fixed;
    }

}

/* ------------------------------------------------------------------------------------ */
/* |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MOBILE DEV PHONES~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~| */
/* -------------------------------------------------------------------------------------*/

@media (max-width: 450px) {

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~ Fixtures & Results~~~~~~~~~~~~~~~~~~~ */
    #accordionFixtures,
    #accordionResults .fixres-title {
        font-size: 16px;
    }

    .accordion-header .accordion-button .active-wk {
        color: #ff4a17;
    }

    .accordion-item .accordion-body .fix-team-img {
        height: 25px;
        width: 25px;
    }

    .accordion-item .accordion-body .team-text {
        color: #113a0c;
        font-size: 12px;
    }

    .accordion-item .accordion-body .fixt-btn {
        background: transparent;
        color: grey;
        font-size: 12px;
        font-weight: bolder;
    }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~TABLE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    #kltable tr th {
        font-size: 14px;
        color: black;
    }

    #kltable .tbl-pts,
    .tbl-position {
        font-size: 13px;
    }

    #kltable td {
        font-size: 12px;
    }

    #kltable .tbl-team-img {
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }

    #kltable .tbl-club-name {
        font-size: 10px;
    }



    /* ~~~~~~~~~~~~~~~~~~~~~~~~PLAYERS~~~~~~~~~~~~~~~~~~ */
    .table-posts .player-album .featured-player-img {
        height: 500px;
    }

    .players .card-player-img {
        height: 400px;
    }

    .players .table-players .tb-head {
        font-size: 17px;
    }

    .players .table-players .player-img {
        height: 20px;
        width: 20px;
        padding-left: 0px;
    }

    .players .table-players .player-name {
        font-size: 11px;
        margin-left: 5px;
    }

    .players .table-players {
        color: #dedede;
    }

    .players .table-players tr:hover {
        color: #000000;
    }

    .players .table-players thead th {
        font-size: 15px;
        padding-left: 0px;
    }

    .featured-players .featured-player-img {
        height: 400px;
    }

    /* ~~~~~~~~~~~ Home page fixtures & results ~~~~~~~~~~~~~~ */
    .card-title-fixtures,
    .card-title-results {
        background-color: black;
    }

    #home-page-fixres .result-fixture .fix-team-img {
        height: 30px;
        width: 30px;
    }

    #home-page-fixres .result-fixture .team-text {
        font-size: 15px;
    }

    /* ~~~~~~~~~~~~~~~~Freezing the header and first cilumn~~~~~~~~~~~~~~~ */
    .tbl-wrapper {
        /* height: calc(100vh - 150px); */
        width: calc(100vw - 40px);
        overflow: scroll;
        white-space: nowrap;
    }

    .tbl-wrapper th {
        border-left: none;
        border-right: 1px solid #bbbbbb;
        min-width: 40px;
        position: sticky;
        top: 0;
        color: #e0e0e0;
        background-color: white;
    }

    .tbl-wrapper th:nth-child(1),
    .tbl-wrapper td:nth-child(1) {
        position: sticky;
        left: 0;
        width: 120px;
        min-width: 120px;
    }

    .tbl-wrapper td:nth-child(1) {
        background: #ffffff;
    }

    .tbl-wrapper th:nth-child(1) {
        z-index: 2;
    }

    /* All sub hero page sections with page titles */

    .heading-text-about {
        font-size: 40px;
        /* padding: 0px 20px; */
        margin: auto;
    }

    /* single page */
    .heading-text-labout {
        font-size: 35px;
        padding: 0px 20px;
        margin-top: auto;
    }

    .la-container-executive .heading-text-teams{
        font-size: 35px;
    }

    #la-container-table,
    #la-container-topscorers,
    #la-container-players {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/teams-page-bg.jpg);
        height: 20vh;
        background-attachment: fixed;
    }

}